### 연산자 

#### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [1]:
5 + 1

6

In [3]:
5 - 1

4

In [5]:
5 * 2

10

In [6]:
5 / 2

2.5

In [8]:
5 % 2

1

In [10]:
5 // 2

2

In [11]:
5 ** 2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' :  작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [13]:
5 > 2

True

In [16]:
5 >= 2

True

In [18]:
5 < 2

False

In [20]:
5 <= 2

False

In [22]:
5 == 2

False

In [23]:
5 != 2

True

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [25]:
True and True

True

In [27]:
(5 > 2) and (5 <= 2)

False

In [29]:
True or False

True

In [31]:
(5 > 2) or (5 <= 2)

True

In [33]:
not True

False

In [34]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간  
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음  
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음  

#### 띄워쓰기 하려면 space(스페이스) 두 번!

In [36]:
variable = 10
variable

10

In [38]:
variable = True
variable

True

In [41]:
variable = 10.0
variable

10.0

In [42]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [44]:
type(10)

int

In [45]:
type(10.0)

float

In [47]:
type(True)

bool

In [48]:
type('문자열')

str

#### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열으로 변환

In [50]:
int(10.34)

10

In [53]:
int(False)

0

In [57]:
int('10')

10

In [67]:
# int('10.4')

인터프리터 언어이기 때문에 에러가 나도 밑에 코드는 실행이 됨.

In [61]:
float(10)

10.0

In [63]:
float(True)

1.0

In [65]:
float('10')

10.0

In [72]:
# float('a')

아예 변환을 할 수가 없는 데이터이면 에러

In [68]:
bool(-1)

True

In [71]:
bool('a')

True

빈 값만 false 뭐라도 내용이 있다면 True

In [73]:
str(10)

'10'

In [74]:
str(True)

'True'

### NaN, Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [76]:
float('NaN')

nan

In [78]:
float('Inf')

inf

In [79]:
float('-Inf')

-inf

### 대입연산자

- = : 좌항에 우항을 대입
- += : 좌항에 좌항값에 우항을 더한 값을 대입
- -= : 좌항에 좌항값에 우항을 뺀 값을 대입
- *= : 좌항에 좌항값에 우항을 곱한 값을 대입
- /= : 좌항에 좌항값에 우항을 나눈 값을 대입
- **= : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- //= : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면   
변수 += 1, 변수 -= 1

In [98]:
variable = 10

In [99]:
variable += 3
variable

13

In [100]:
variable -= 3
variable

10

In [101]:
variable **= 3
variable

1000

In [102]:
variable //= 99
variable

10

### 문자열

- 출력 : print() 함수로 문자열 출력
- 문자열 연산 :  + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야 함
- 문자열 : ' 혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """ 로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포맷을 만들어 사용 가능

In [104]:
print('문자열')

문자열

In [109]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)

문자열1
문자열2

In [111]:
string1 + string2

'문자열1문자열2'

In [113]:
string1 * 5

'문자열1문자열1문자열1문자열1문자열1'

In [114]:
integer = 10

변수 안에 데이터를 넣었을 경우 실행을 해줘야 데이터가 변수에 들어감.

In [116]:
string1 + str(integer) + string2

'문자열110문자열2'

문자열이 아닌 데이터의 경우 문자열로 변경 후 연결해줘야 함.

In [118]:
print('안녕하세요\n반갑습니다.')

안녕하세요
반갑습니다.

In [121]:
statement = '''안녕하세요
반갑습니다.'''
print(statement)

안녕하세요
반갑습니다.

In [124]:
date = '2024-07-18'
date.replace('-', '.')
date

'2024-07-18'

다시 date를 출력하면 치환 전 데이터로 출력됨.

In [127]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.

In [129]:
f'{'abcd':>20}'

'                abcd'

In [131]:
f'{2345:0>20,}'

'0000000000000002,345'

:> | :< | :^  
꺽쇠로 방향 설정, 중앙 정렬은 ^, 방향 설정 앞에 공백에 넣을 문자 넣어도 됨.  
끝에 ,넣으면 숫자의 경우 천 단위로 구분해 줌